.hero {
  margin: 2rem 0;
}

.hero--title__intro {
  color: var(--light-grey);
  font-size: 14px;
  margin: 0;
}

.hero--title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.hero--subtitle {
  margin: 1.2rem 0;
  font-size: 18px;
  max-width: 40%;
}
