html {
  font-family: var(--main-font);
  background-color: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

/* MEDIA QUERY */
@media (max-width: 800px) {
  .container {
    width: 90vw;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
