html {
  font-family: var(--main-font);
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
