nav {
  display: flex;
  justify-content: space-between;
}

.nav--title {
  margin: 0;
  flex: 3;
  font-size: 48px;
  color: var(--black);
}

.nav--links {
  list-style: none;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  margin: 0;
}

.nav--links__item {
  font-size: 18px;
  margin-left: 2rem;
  color: var(--light-grey);
}

.active-link {
  color: var(--black);
}
