:root {
  /* colors */
  --black: #000000;
  --white: #ffffff;
  --light: #eaeaea;
  --light-grey: #9f9f9f;
  --grid-grey: #ddd;

  --main-font: "Heebo", -apple-system, BlinkMacSystemFont, "Roboto",
    Helvetica Neue, Helvetica, Arial, sans-serif;
}
